/* Global Variables
------------------------------------------ */
$sides: 10vw;
$footer_height: 160px;
$header_height: 76px;
$mobile_breakpoint: 760px;

/* Body 
------------------------------------------ */
body {
  background: #eee;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  color: #383838;
  line-height: 1.4em;
}

a {
  color: #444;
  text-decoration: none;
}
p {
  padding: 0 14vw 0 2vw;
}
.btn {
  background: #ff375f;
  border: none;
  padding: 18px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #f13359;
  }
}
.btn.secondary {
  background: none;
}
h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}

/* Header
------------------------------------------ */
header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  transition: all 0.5s linear;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  &.sticky {
  }
  .inner {
    display: flex;
    justify-content: space-between;
    padding: 0 $sides;
    min-height: $header_height - 1;
  }
  .logo {
    padding: 10px;
    img {
      height: $header_height - 20;
    }
  }
  .hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  @media (max-width: $mobile_breakpoint) {
    .inner {
      padding: 0 20px;
    }
    .hamburger {
      display: block;
    }
  }
}
.content-spacer {
  height: $header_height - 1;
}

/* Navigation
------------------------------------------ */
header nav {
  display: flex;
  align-items: center;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    font-size: 14px;
    display: inline-block;
    color: rgb(48, 48, 48) 454;
    border-bottom: 1px solid #ddd;
    // transition: all 0.5s linear;
    padding: 0 14px;
    line-height: $header_height;
    font-weight: 500;
    margin-bottom: -1px;
  }
  a:hover,
  a.active {
    color: #545454;
    border-bottom: 1px solid #ff375f;
  }
  a:hover {
    border-color: #333;
  }
  a.active {
    border-color: #ff375f;
  }
  a.btn {
    padding: 0 18px;
    line-height: 34px;
    height: 34px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 14px;
    background: #17a4cd;
    border-radius: 40px;
  }
  a.btn:hover {
    background: #1fb4e2;
    border: none;
    color: #fff;
  }

  /* Navigation (Mobile)
  ------------------------------- */
  @media (max-width: $mobile_breakpoint) {
    display: none;
    &.open {
      display: block;
      position: fixed;
      top: $header_height;
      background: #fff;
      z-index: 1;
      left: 0;
      width: 100%;
      text-align: right;
      padding: 0 0 26px 0;
      li {
        margin-top: 14px;
        padding: 0 36px;
      }
      a {
        display: inline-block;
        line-height: 1.4em;
        padding: 0;
        // border: none;
      }
      a:hover,
      a.active {
        // text-decoration: underline;
      }
      a.btn {
        margin: 10px -12px 0 0;
        padding: 0 20px;
        line-height: 34px;
        height: 34px;
      }
    }
  }
}

/* Banner
------------------------------------------ */
.banner {
  background: #222
    url(../images/ai/A_group_of_culturally_diverse_creators_collaborating_98ca68ac-724d-47e3-a0b4-d7ec640ab56a.png);
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
  height: 100vh;

  h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
}

/* Content
------------------------------------------ */
.content {
  max-width: 860px;
  margin: 0 auto;
  padding: 50px $sides 100px;
  .inner {
  }
  img {
    width: 100%;
  }
  .headline-border-top {
    border-top: 1px solid #aaa;
    padding-top: 40px;
    margin-top: 60px;
    color: #fff;
    background: #111;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    margin: 1em 0 -30px -4vw;
    z-index: 1;
    position: relative;
  }
  h1 {
    font-size: 50px;
    line-height: 1.2em;
    // margin-left: -8vw;
    display: inline-block;
    padding: 30px;
    background: #17a4cd;
    color: #fff;
    border-radius: 8px;
  }
  h1.overlay {
    position: absolute;
    margin: -80px 0 0 -4vw;
    width: 60%;
  }
  // mobile break
  @media (max-width: $mobile_breakpoint) {
    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      margin-left: 0;
    }
    h2 {
      font-size: 30px;
    }
  }

  h1.yellow {
    background: #ebbe2e;
  }
  h1.red {
    background: #ff375f;
  }
}

/* Footer (ride bottom)
------------------------------------------ */
.footer {
  position: relative;
  margin-top: $footer_height * -1;
  min-height: $footer_height;
  background: #fff;
  color: #aaa;
  font-size: 12px;
  .inner {
    // display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    padding: 30px $sides 0;
    display: flex;
    align-items: center;
  }

  @media (max-width: $mobile_breakpoint) {
    .inner {
      display: block;
    }
  }
  @media (max-width: 460px) {
    text-align: center;
  }

  nav {
    display: flex;
    li {
      list-style: none;
      margin-right: 6px;
      padding-right: 6px;
    }
    a {
      &.border-left {
        border-left: 1px solid #ddd;
        margin-left: 0px;
        padding-left: 12px;
      }
    }
    a:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
    @media (max-width: 460px) {
      display: block;
      li {
        display: inline-block;
      }
      a.border-left {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
  p {
    margin: 4px 0 0;
  }

  .social-icons {
    display: flex;
    justify-content: left;
    align-items: center;
    @media (max-width: 460px) {
      display: block;
    }
    padding: 0;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-right: 10px;
      @media (max-width: 460px) {
        display: inline-block;
        margin: 2px;
      }
    }
    a {
      background: #333;
      color: #fff;
      border-radius: 4px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      i {
        line-height: 40px;
      }
    }
  }
}

/* Footer (ride bottom) 
------------------------------------------ */
html,
body {
  height: 100%;
}
.wrapper {
  height: auto;
  min-height: 100%;
}
.inner-wrapper {
  padding-bottom: $footer_height;
}
