/* Global Variables
------------------------------------------ */
$sides: 10vw;
$footer_height: 80px;
$header_height: 76px;
$mobile_breakpoint: 500px;

/* Body / Global Elements
------------------------------------------ */
html,
body {
  height: 100%;
}

body {
  background: #eee;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  color: #383838;
  line-height: 1.4em;
}

a {
  color: #aeaeae;
  text-decoration: none;
}
.btn {
  background: #ff375f;
  border: none;
  padding: 14px 40px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #f13359;
  }
}
h1 {
  font-size: 3em;
  line-height: 1.2em;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}

/* Header
------------------------------------------ */
header {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  transition: all 0.5s linear;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  &.sticky {
  }
  .inner {
    display: flex;
    justify-content: space-between;
    padding: 0 $sides;
    height: $header_height - 1;
  }
  .logo {
    padding: 10px;
    img {
      height: $header_height - 20;
    }
  }
  .hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  @media (max-width: $mobile_breakpoint) {
    .inner {
      padding: 0 20px;
    }
    .hamburger {
      display: block;
    }
  }
}
.content-spacer {
  height: $header_height - 1;
}

/* Navigation
------------------------------------------ */
nav {
  display: flex;
  align-items: center;
  a {
    font-size: 14px;
    display: inline-block;
    color: rgb(48, 48, 48) 454;
    border-bottom: 1px solid #ddd;
    // transition: all 0.5s linear;
    padding: 0 14px;
    line-height: $header_height;
    font-weight: bold;
  }
  a:hover,
  a.active {
    color: #545454;
    border-bottom: 1px solid #ff375f;
  }
  /* Navigation (Mobile)
  ------------------------------- */
  @media (max-width: $mobile_breakpoint) {
    display: none;
    &.open {
      display: block;
      position: fixed;
      top: $header_height;
      background: #fff;
      left: 0;
      width: 100%;
      text-align: right;
      padding: 26px 0;
      a {
        display: block;
        border: none;
        padding: 0 20px;
        line-height: 2em;
      }
      a:hover,
      a.active {
        text-decoration: underline;
      }
    }
  }
}

/* Banner
------------------------------------------ */
.banner {
  background: #222
    url(../images/ai/A_group_of_culturally_diverse_creators_collaborating_98ca68ac-724d-47e3-a0b4-d7ec640ab56a.png);
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
}

/* Content
------------------------------------------ */
.content {
  max-width: 660px;
  margin: 0 auto;
  padding: 50px $sides 100px;
  .inner {
  }
  img {
    width: 100%;
  }
  .headline-border-top {
    border-top: 1px solid #aaa;
    padding-top: 40px;
    margin-top: 60px;
  }
}

/* Footer (ride bottom)
------------------------------------------ */
.wrapper {
  height: auto;
  min-height: 100%;
}
.inner-wrapper {
  padding-bottom: $footer_height;
}
.footer {
  position: relative;
  margin-top: $footer_height * -1;
  min-height: $footer_height;
  background: #fff;
  .inner {
    border-top: 1px solid #e8e8e8;
    padding: 10px $sides;
  }
}
